<div class="container">
    		<h2 id="title">Flicker feed:</h2>
    		<ul>
    		 	{{#each photo in photos}}
    		 		<li>
    		 			{{photo.title}} ({{photo.username}}) <br>
    		 			<img src= "{{photo.url}}" />
    		 		</li>
    		 	{{/each}}
    		 </ul>
    	</div>
    {{outlet}}
